<p>
  <md-card class="card-style">
    <md-card-header>
      <md-card-title>Authetication</md-card-title>
      <md-card-subtitle>Please, enter your email and password</md-card-subtitle>
    </md-card-header>
    <div align="center">
      <img md-card-image src="https://angular.io/resources/images/logos/angular/angular.svg" class="image-card-style">
    </div>
    <md-card-content>
      <div align="center">
        <md-input-container>
          <input mdInput placeholder="email">
        </md-input-container><br/>
        <md-input-container>
          <input mdInput placeholder="password" type="password">
        </md-input-container>
      </div>
    </md-card-content>
    <md-card-actions>
      <div align="center">
        <button md-button><md-icon>check</md-icon>Done</button>
      </div>
    </md-card-actions>
  </md-card>
</p>