<p>
  <md-card class="card-style">
    <md-card-header>
      <md-card-title>Authetication</md-card-title>
      <md-card-subtitle>Please, enter your email and password</md-card-subtitle>
    </md-card-header>
    <div align="center">
      <img md-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1000px-Angular_full_color_logo.svg.png" class="image-card-style">
    </div>
    <md-card-content>
      <div align="center">
        <md-input-container>
          <input mdInput placeholder="email" #username>
        </md-input-container><br/>
        <md-input-container>
          <input mdInput placeholder="password" type="password" #password>
        </md-input-container>
      </div>
    </md-card-content>
    <md-card-actions>
      <div align="center">
        <button md-button (click)='auth.login(username.value,password.value)'><md-icon>check</md-icon>Done</button>
      </div>
    </md-card-actions>
  </md-card>
</p>