

<md-card class="card-style">
  <md-card-header>
    <md-card-title>My Project</md-card-title>
    <md-card-subtitle>An Angular Demo</md-card-subtitle>
  </md-card-header>
  <div align="center"><img md-card-image class="image-card-style" src="https://angular.io/resources/images/logos/angular/angular.svg">
  </div>
  <md-card-content>
    <p>
      This is a sample project to show some Angular 4, TypeScript, Auth0 and Material Design characteristics.
    </p>
  </md-card-content>
  <md-card-actions>
    <div align="center">
    <button md-button><md-icon>account_circle</md-icon>Login</button>
    <button md-button><md-icon>home</md-icon>Home</button>
    </div>
  </md-card-actions>
</md-card>