<md-tab-group>
  <md-tab label="Search User">
    <div *ngIf="showSearchBox else filterTemplate">
      <md-input-container>
        <input mdInput type="text" placeholder="Username" [(ngModel)]="username">
      </md-input-container>
      <button md-icon-button (click)="showContents()">
        <md-icon>search</md-icon>
      </button>    
    </div> 
    <ng-template #filterTemplate>
    <div>
      <md-select type="string" placeholder="Field" [(ngModel)]="selectedField"> 
        <md-option *ngFor="let option of fieldOptions" [value]="option">{{option.name}}</md-option>
      </md-select>  
      <md-select type="string" placeholder="Order by" [(ngModel)]="selectedOrder"> 
        <md-option *ngFor="let option of orderOptions" [value]="option">{{option.name}}</md-option>
      </md-select>  
      <button md-button (click)="resetAll()">
        Search Again
      </button>  
    </div>
    </ng-template>
    <md-nav-list> 
      <md-list-item *ngFor="let repo of repoContents | orderBy:selectedField:selectedOrder">
        <span md-line>{{repo.name|uppercase}}</span> 
        <span>{{repo.pushed_at| date:'dd/MM/yyyy'}}</span>
        <button md-icon-button>
          <md-icon>info</md-icon>
        </button>  
        <button md-icon-button>
          <md-icon>favorite</md-icon>
        </button>  
      </md-list-item> 
    </md-nav-list>  
  </md-tab>
  <md-tab label="Favorites">
    <md-nav-list>
      <md-list-item>
        <span md-line>My Repository</span>
        <a href="#" target="_blank">
          <md-icon>open_in_new</md-icon>
        </a>
        <button md-icon>
          <md-icon>delete</md-icon>
        </button>
      </md-list-item>  
    </md-nav-list>  
  </md-tab>
</md-tab-group>